* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#111827,#1f2937);
    color:white;
    min-height:100vh;
}

.container {
    width: 100%;
    max-width: 700px;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 35px;
}

.speed-card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0,0,0,.35);
}

.speed-circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 8px solid #00c6ff;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.speed-circle span {
    font-size: 60px;
    font-weight: bold;
}

.speed-circle small {
    margin-top: 5px;
    color: #cfcfcf;
    font-size: 18px;
}

#startButton {
    margin-top: 35px;
    padding: 15px 45px;
    border: none;
    border-radius: 50px;
    background: #00c6ff;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

#startButton:hover {
    background: #0095c8;
    transform: scale(1.05);
}

.results {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 40px;
}

.result-box {
    flex: 1;
    background: rgba(255,255,255,.06);
    padding: 20px;
    border-radius: 15px;
}

.result-box h3 {
    margin-bottom: 12px;
    font-size: 18px;
}

.result-box p {
    font-size: 22px;
    font-weight: bold;
    color: #00c6ff;
}

#status {
    margin-top: 35px;
    color: #bdbdbd;
    font-size: 18px;
}

/* el de recomendaciones*/

.info-card{

    opacity:0;
    transform:translateY(30px);
    transition:.6s;

}

.info-card.show{

    opacity:1;
    transform:translateY(0);

}
/* para mi index algo extra xd*/

.guide{
    width: 550px;
    margin: 40px auto;
    padding: 30px;

    background: rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.12);

    border-radius:20px;
    text-align:center;
}

.guide h2{

    margin-bottom:15px;

    font-size:28px;

}

.guide p{

    color:#cbd5e1;

    line-height:1.7;

    margin-bottom:25px;

}

.guide-button{

    display:inline-block;

    padding:14px 28px;

    border-radius:12px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.guide-button:hover{

    transform:translateY(-3px);

    background:#1d4ed8;

}

/* el boton de traduccion culera*/

.language-switch{

    position:fixed;

    top:20px;

    right:20px;

    z-index:1000;

}

#language{

    padding:8px 12px;

    border:none;

    border-radius:10px;

    background:#1e293b;

    color:white;

    cursor:pointer;

    font-size:15px;

}

.guide-button{
    display: inline-block;

    padding: 12px 25px;

    background: #2d7ef7;
    color: white;
    text-decoration: none;

    border-radius: 10px;
    font-weight: bold;
}

/*pagina de recomendaciones*/

.section{

    margin-top:40px;

}

.section h2{

    margin-bottom:20px;

    text-align:center;

    font-size:30px;

}

.info-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:20px;

}

.info-card{

    background:rgba(255,255,255,.06);

    border-radius:18px;

    padding:25px;

    transition:.3s;

    border:1px solid rgba(255,255,255,.08);

}

.info-card:hover{

    transform:translateY(-5px);

    background:rgba(255,255,255,.09);

}

.info-card h3{

    margin-bottom:15px;

    color:#00c6ff;

}

.info-card p{

    line-height:1.7;

    color:#d1d5db;

}

.speed-table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

    background:rgba(255,255,255,.06);

    border-radius:18px;

    overflow:hidden;

}

.speed-table th{

    background:#2563eb;

    padding:18px;

    font-size:18px;

}

.speed-table td{

    padding:16px;

    text-align:center;

    border-top:1px solid rgba(255,255,255,.08);

}

.speed-table tr:hover{

    background:rgba(255,255,255,.05);

}

.tips{

    list-style:none;

    display:grid;

    gap:15px;

}

.tips li{

    background:rgba(255,255,255,.06);

    padding:18px;

    border-radius:14px;

}

.faq{

    display:grid;

    gap:20px;

}

.faq h3{

    color:#00c6ff;

    margin-bottom:8px;

}

.faq p{

    color:#d1d5db;

    line-height:1.7;

}

.back-home{

    text-align:center;

    margin-top:45px;

}

.home-button{

    display:inline-block;

    padding:15px 30px;

    background:#2563eb;

    color:white;

    text-decoration:none;

    border-radius:12px;

    font-weight:bold;

    transition:.3s;

}

footer{

    margin-top:60px;

    text-align:center;

    color:#bdbdbd;

}

footer a{

    color:#00c6ff;

    text-decoration:none;

}

footer a:hover{

    text-decoration:underline;

}

.home-button:hover{

    background:#1d4ed8;

    transform:translateY(-3px);

}

@media(max-width:650px){

    .results{
        flex-direction: column;
    }

    .speed-circle{
        width:180px;
        height:180px;
    }

    .speed-circle span{
        font-size:50px;
    }

     .guide{
        padding:20px;
    }

    .guide h2{
        font-size:24px;
    }

    .section h2{

        font-size:24px;

    }

    .speed-table{

        font-size:14px;

    }

    .speed-table th,
    .speed-table td{

        padding:12px;

    }

}

/* para About - Privacy - Contact */

.page{

    max-width:900px;

    margin:50px auto;

    padding:40px;

    background:rgba(255,255,255,.06);

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.35);

}

.page h1{

    text-align:center;

    margin-bottom:25px;

    font-size:40px;

}

.page h2{

    margin-top:35px;

    margin-bottom:15px;

    color:#00c6ff;

    font-size:28px;

}

.page p{

    color:#d1d5db;

    line-height:1.8;

    margin-bottom:20px;

}

.page ul{

    margin-left:25px;

    color:#d1d5db;

    line-height:1.9;

}

.page li{

    margin-bottom:10px;

}

.navbar{

    max-width:1000px;

    margin:30px auto;

    padding:20px;

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:18px;

    background:rgba(255,255,255,.06);

    border-radius:18px;

    border:1px solid rgba(255,255,255,.08);

}

.logo{
    font-size:34px;
    font-weight:bold;
    color:#00c6ff;
    text-decoration:none;
    padding-bottom:10px;
    border-bottom:1px solid rgba(255,255,255,.15);
}

.nav-links{

    display:flex;

    gap:30px;

    justify-content:center;

    flex-wrap:wrap;

}

.nav-links a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.nav-links a:hover{

    color:#00c6ff;

}

footer{

    margin:40px 0;

    text-align:center;

    color:#bdbdbd;

}

@media(max-width:768px){

    .navbar{

        flex-direction:column;

        gap:20px;

    }

    .nav-links{

        flex-wrap:wrap;

        justify-content:center;

        gap:15px;

    }

    .page{

        margin:20px;

        padding:25px;

    }

    .page h1{

        font-size:32px;

    }

    .page h2{

        font-size:24px;

    }

}
